.[juptyer logo.png](download.png)
![juptyer logo.png](download.png)
<img src="download.png" style="float.left">[juptyer logo.png](download.png)


- .[-]. option 1
- .[-]. option 2
- .[x]. option 3

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  

`printf("hello")`

<https:google.com>


<markdwon@google.com>

### Python Basics

python version 3.7

- scripting
- Object Oriented
- Fuctional

In [3]:
#python comments

print("Good Afternoon"," ! ",end=" ")# basic output
print("Hello python")

Good Afternoon  !  Hello python

### Assignment

In [11]:
n1=123456 #single variable assignment

n2=n3=n4=n1 #multi variable assignment of the single value

# multi varaiable Assignment with different valuec
a,b,c=123,234,345

print(a,b,c)


c

123 234 345

345

### Datatypes and DataTypeConversions
- int
- float
- string

In [ ]:
type(a)
s1="python"
type(s1)


f1=12.2345
type(f1)

float(str(int(f1)))

### Arthematic Operations
- +
- -
- *
- /
- %
- **

In [24]:
n1%11
n3=n2 ** 123456
type(n3)
len(str(n3))
atoms=10**82
len(str(atoms))
atoms
type(str(atoms))

str

###  Conditionals

### Conditionals

In [40]:
if atoms < 10 **9:
    print("True")
else:
    print("False")

False

In [41]:
# check if a number is even
n=123
if n%2==0:
    print("Even")
else:
    print("odd")

odd

In [1]:
# find the greatest of three numbers
n1=int(input("Enter the First number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))
if n1>n2 and n1>n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

Enter the First number12
enter the second number13
enter the third number15
15 is the greatest

In [3]:
# leapyear
year=int(input("Enter the year"))
if((year%400==0)or(year%100==0 and year%4==0)):
   print("leapyear")
else:
   print("non leapyear")

Enter the year1989
non leapyear

In [5]:
# check if the a number exists in a given range(inclusive)
lower=int(input("Enter the lowr bound value"))
upper=int(input("enter upper bound"))
n1=int(input("enter the number"))
if(n1>=lower and n1<=upper):
    print("with in the range ")
else:
    print("not in range")

Enter the lowr bound value12
enter upper bound23
enter the number16
with in the range

In [6]:
# check if a number is a multiple of 10
num=int(input("enter a number"))
if(num%10==0):
    print("the number is multiple of 10")
else:
    print("not multiple of 10")

enter a number65
not multiple of 10

In [19]:
#check if a number is factor of 1000
num=int(input("enter a number"))
if(1000%num==0):
    print("the number is factor of 1000")
else:
    print("not")

enter a number900
not

In [17]:
# calculate no of nano seconds in a given year
year=int(input("enter a year"))
if((year%400==0)or(year%100==0 and year%4==0)):
    print("nanoseconds= %d" %(24*60*60*366*(10**9)))
else:
    print("nanoseconds= %d" %(24*60*60*365*(10**9)))

enter a year2016
nanoseconds= 31536000000000000

In [10]:
nanoseconds

8760000000000