### Dictionaries

In [1]:
d={1:10,2:20,3:40,6:60}
d

{1: 10, 2: 20, 3: 40, 6: 60}

In [21]:
# to read dictionaries using for loop
for k in d.keys():
    print(k,end=" ")

1 2 3 6

In [26]:
#d.remove(20)
d

{2: 20, 3: 40, 6: 60}

In [27]:
d['name']='hari'

In [28]:
d

{2: 20, 3: 40, 6: 60, 'name': 'hari'}

In [29]:
d[5]=[1,2,3]

In [30]:
d

{2: 20, 3: 40, 6: 60, 'name': 'hari', 5: [1, 2, 3]}

In [34]:
d[7]=(1,2,3)

In [35]:
d

{2: 20, 3: 40, 6: (1, 2, 3), 'name': 'hari', 5: [1, 2, 3], 7: (1, 2, 3)}

In [37]:
d.values(6)

TypeError: values() takes no arguments (1 given)

In [38]:
d.get(6)

(1, 2, 3)

In [39]:
sum(d.get(6))

6

In [45]:
d[7]=sum(d.get(7))

TypeError: 'NoneType' object is not iterable

In [46]:
d

{2: 20, 3: 40, 6: (1, 2, 3), 5: [1, 2, 3]}

In [44]:
d.pop('name')

'hari'

In [49]:
for k ,v in d.items():
    print(k,v*v)

2 400
3 1600

TypeError: can't multiply sequence by non-int of type 'tuple'

In [53]:
sum(d.get(6))

6

In [60]:
d=sorted(d.items())
d.reverse()
d

AttributeError: 'list' object has no attribute 'items'

In [61]:
d.reverse()

In [63]:
s=d.sorted(d.values())
s

AttributeError: 'list' object has no attribute 'sorted'

### Functions

In [80]:
st=input()
def captchar(st):
    a=st.capitalize()
    z=a.replace(" ","")
    return z
captchar(st)

A P S S D C

'Apssdc'

In [6]:
s=input().split()
def dispmaxlenth(s):
    max_length=max(list(map(len,s)))
    for word in s:
        if max_length==len(word):
            print(word)
dispmaxlenth(s)

hi hello world
hello
world

###  Print all the words which starts with the given character, If no words matches with the given condition you should print -1

In [12]:
# print words start with r
word=input().split()
c=input()
#match=0
def printstrwith(word):
    match=0
    for words in word:
        if(words.startswith(c)):
            print(words)
        match+=1
    if match==0:
        print (-1)
printstrwith(word)

ravi ramu balu
r
ravi
ramu

### print all the words ends a, e, i,o,u

In [19]:
x=input()
def namesendswith(x):
    y=("a","u","i","o","u")
    x=x.split()
    li=[]
    for i in x:
        if i.endswith(y):
            li.append(i)
        else:
            print(i)
namesendswith(x)

harsh giresh rakesu
harsh
giresh

### print all duplicate characters

In [7]:
s=input().split()
def duplicatechars(s):
    for i in s:
        if not len(set(i))==len(i):
            print(i)
duplicatechars(s)

ramu akash siva
akash

### Print the swapcase of the word

In [8]:
n=input()
def swpcsebutlast(n):
    s1=n[-1]
    s=n[:-1].swapcase()
    print(s+s1)
swpcsebutlast(n)

helloworld
HELLOWORLd

### number of upper letter count

In [15]:
n=input()
def upperletercount(n):
    c=0
    for i in n:
        if(i.isupper()):
            c=c+1
    print(c)
upperletercount(n)

SubbaReddy
2